.card-section .section-card {
    background-color: $white;
    text-align: center;
    padding: 160px 50px 100px 50px;
    margin: 0 auto;
    
    .title {
        margin-bottom: 100px;
        
        img {
            max-width: 200px;
            margin-bottom: 50px;
        }
        
        h2 {
            margin-bottom: 10px;
        }

        h5 {
            font-weight: 400;
            color: $body-base-color;
            line-height: 2em;
        }
        
    }
    
    .body {
        max-width: 470px;
        margin: 0 auto;
        text-align: justify;
        font-weight: 500;
        line-height: 2.5em;
        
        p {
            margin-bottom: 80px;
        }
        
        .quote {
            color: $primary;
            border-left: 3px solid $primary;
            padding-left: 30px;
        }
    }
    
}

#handmade.card-section {
    margin-top: -500px;
}