.card-section {
    padding-bottom: 0.01px;
    position: relative;
}

.card-section .section-card {
    background-color: $white;
    text-align: center;
    padding: 160px 50px 100px 50px;
    margin: 0 auto;
    
    .title {
        margin-bottom: 100px;
        
        img {
            max-width: 200px;
            margin-bottom: 50px;
        }
        
        h2 {
            margin-bottom: 10px;
        }

        h5 {
            font-weight: 400;
            color: $body-base-color;
            line-height: 2em;
        }
        
    }
    
    .body {
        max-width: 470px;
        margin: 0 auto;
        text-align: justify;
        font-weight: 500;
        line-height: 2.5em;
        
        p {
            margin-bottom: 80px;
        }
        
        .quote {
            color: $primary;
            border-left: 3px solid $primary;
            padding-left: 30px;
        }
    }
    
}

#handmade.card-section {
    margin-top: -500px;
}

#dynamic.card-section {
    @include gradient(rgba($black, 0), rgba($black, 0.4), vertical);
}

#performance.card-section {
    background-color: rgba(black,0.4);
}

#workflow.card-section {
    background-color: rgba(black,0.4);
    background-image: url('../img/graphics/curve-top.svg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contact {
    
    @include gradient(rgba(black,0), rgba($black, 0.3), vertical);
    
    .container {
        margin-bottom: -100px;
    }
    
    .section-card:first-of-type {
        padding-bottom: 1px;
        
        .body {
            .contact-method {
                display: block;
                &:first-of-type {
                    margin-bottom: 30px;    
                }
                &:last-of-type {
                    text-align: right;
                    .small-icon {
                        margin-left: 15px;
                        margin-right: 0px;
                    }    
                }
            }
        }
        
    }
    
    #contact-form-card {
        background-color: $gray-blue;
        padding-top: 50px;
    }
    
}