.card-section .feature-card {

    background-color: $white;
    line-height: 65px;
    padding: 0 22px;
    color: $primary;
    font-size: 0.95em;
    
    hr {
        display: inline-block;
        width: 20px;
        border: 1px solid $primary;
        vertical-align: middle;
        margin: 0 10px;
    }

}