.form-group.input-material {
    
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    
    label {
          color:#999; 
          font-size:16px;
          font-weight:normal;
          position:absolute;
          pointer-events:none;
          left:5px;
          top:7px;
          transition:0.1s ease all; 
          -moz-transition:0.1s ease all; 
          -webkit-transition:0.1s ease all;
    }

    .form-control {
        border-bottom: 2px solid $gray-400;
        border-radius: 0px;
        background: transparent;
        padding-left: 5px;
        box-shadow: none;
        
        /* active state */
        &:focus, &[value]:not([value=""]) {
            border-bottom-color: $primary;
            color: $black;
        }
        
        &:focus ~ label, &[value]:not([value=""]) ~ label {
          top:-25px;
          font-size:14px;
          color: $primary;
          font-weight: 500;
        }

        /* invalid state */
        &:focus.parsley-error, &[value]:not([value=""]).parsley-error {
            border-bottom-color: $danger;
        }
        
        &:focus.parsley-error ~ label, &[value]:not([value=""]).parsley-error  ~ label {
            color: $danger;
        }

    }
    
}

.parsley-errors-list {
    color: $danger;
    list-style: none;
    font-size: 0.7em;
    padding-left: 5px;
}