.scene {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0.5;

    .el {
        position: absolute;
        right: -2000px;
        height: 7px;
        background-color: rgba(#07EFDA, 0.2);
        margin-top: 20px;
        width: 2000px;
        border-radius: 2em;
        
        &.blue {
        @include gradient(rgba(#07EFDA, 1), rgba(#07EFDA, 0));
        }
        
        &.pink {
        @include gradient(rgba(#ffffff, 1), rgba(#ffffff, 0));
        }
        
    }

}

#particles-js {
    position: absolute;
    top: -200px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}